@font-face {
  font-family: 'S Core Dream 400';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../../public/fonts/SCDream4.otf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'S Core Dream 400', sans-serif;
  font-size: 16px;
}
