@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'S Core Dream 100';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('../../public/fonts/SCDream1.otf');
}
@font-face {
  font-family: 'S Core Dream 200';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('../../public/fonts/SCDream2.otf');
}
@font-face {
  font-family: 'S Core Dream 300';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../../public/fonts/SCDream3.otf');
}
@font-face {
  font-family: 'S Core Dream 400';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../../public/fonts/SCDream4.otf');
}
@font-face {
  font-family: 'S Core Dream 500';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../../public/fonts/SCDream5.otf');
}
@font-face {
  font-family: 'S Core Dream 600';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../../public/fonts/SCDream6.otf');
}
@font-face {
  font-family: 'S Core Dream 700';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../../public/fonts/SCDream7.otf');
}
@font-face {
  font-family: 'S Core Dream 800';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('../../public/fonts/SCDream8.otf');
}
@font-face {
  font-family: 'S Core Dream 900';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('../../public/fonts/SCDream9.otf');
}
